name: Publish NuGet Package

on:
  push:
    tags:
      - 'v*.*.*' # Trigger on version tags (e.g., v1.0.0)

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.x' # Update as needed (e.g., '7.x' or 'latest')

    - name: Authenticate to GitHub Packages
      run: dotnet nuget add source "https://nuget.pkg.github.com/AnnabiGihed/index.json" --name "github" --username "AnnabiGihed" --password ${{ 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}}

    - name: Build and publish package
      run: |
        dotnet pack -c Release
        dotnet nuget push bin/Release/*.nupkg \
          --source github
